---
import AboutLayout from "../layouts/AboutLayout.astro";
---

<AboutLayout title="ATOM STORE | ¿Quienes Somos Nosotros?">
  <main class="relative md:h-screen" >
    <div class="max-h-[350px] mb-24 mt-16">
      <img
        src="/img/about.jpg"
        loading="lazy"
        alt="Atom Store"
        class="w-full h-[450px] object-cover"
      />
    </div>
    <section class="p-4 max-w-screen-xl w-11/12 md:w-9/12 mx-auto mt-16 md:absolute bg-white bottom-10 rounded-md">
      <h1 class="text-4xl text-zinc-800 my-4 animate-fade-in-up animate-delay-300 animate-duration-slow">
        ¿Quienes somos <b>ATOM Store Style</b>?
      </h1>

      <p class="">
        ¡Bienvenidos a Atom, el epicentro de la moda para jóvenes visionarios!
        Fundada con la convicción de que la moda es mucho más que ropa, Atom es
        un destino donde la individualidad se celebra y la creatividad se
        libera. 
        
        <strong>En Atom, no nos conformamos con seguir las tendencias; las
        desafiamos y las reinventamos.</strong>
      </p>
      <p>
        Nuestro equipo apasionado de diseñadores,
        estilistas y trendsetters trabaja incansablemente para crear colecciones
        que inspiren y empoderen a la próxima generación de líderes de estilo.
        Creemos en la diversidad, la inclusión y la expresión auténtica. Desde
        lo clásico hasta lo innovador, nuestra amplia gama de prendas y
        accesorios está diseñada para adaptarse a todos los estilos y
        personalidades. 
      </p>
      <p>
        Pero Atom es más que una marca de moda; somos una
        comunidad en constante evolución. Nos esforzamos por construir
        conexiones significativas con nuestros clientes, compartiendo
        experiencias, valores y la pasión por la autoexpresión a través de la
        moda. Únete a nosotros en este emocionante viaje hacia la autoexpresión
        sin límites. Descubre tu estilo, encuentra tu voz y únete a la
        revolución de la moda con Atom. 
      </p>
      <p>
        <b>¡Bienvenido a la familia Atom!</b>
      </p>
    </section>
  </main>
</Layout>

<style>
  @media screen and (min-width: 768px){
    section{
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>
