---
import Layout from '../layouts/Layout.astro';
import CarruselR from '../components/Carrusel.astro';
import CarruselMobile from '../components/CarruselMobile.astro';
import Vitrina from '../components/UltimaColecion.jsx';
---

<Layout title="ATOM STORE | TIENDA Y ESTAMPADO DE CAMISETAS">
	<main>
		<div class="hidden md:block">
			<CarruselR/>
		</div>
		<div class="block md:hidden">
			<CarruselMobile/>
		</div>
		

		<section class="p-4 max-w-screen-xl mx-auto">
			<h2 class="text-2xl text-zinc-700 my-4">Lo Ultimo en Coleción ✨</h2>
			<Vitrina client:load/>
		</section>

		<section class="p-4 max-w-screen-xl mx-auto">
			
			<!-- Anuncio personaliza tu camiseta -->
			<div class="p-10 text-right">
				<h2 class="text-2xl text-zinc-700 my-4">Personaliza Tu Camiseta A Tu Gusto 🎨</h2>

			<div class="flex gap-3">
				<div class="">
					<img src="https://i.ibb.co/6y1B2fX/1.png" alt="Personaliza Camiseta" />
				</div>
				<div>
					<p class="text-zinc-500">¡Nuestro proceso de personalización es simple y directo. Trabajaremos contigo para crear el diseño perfecto que refleje tu personalidad o mensaje. Puedes elegir entre una variedad de colores, estilos y tallas para asegurarte de obtener exactamente lo que deseas.</p>
					<p class="text-zinc-500">El precio de nuestras camisetas personalizadas varía según el diseño y las especificaciones que desees. Para obtener más información sobre los precios y opciones de personalización, contáctanos directamente a través de WhatsApp, Facebook o Instagram.</p>
				
					<button class="bg-zinc-500 text-white px-4 py-2 rounded-md mt-4">Personalizar</button>
				</div>
			</div>
			</div>
		</section>

		<section class="p-4 max-w-screen-xl mx-auto">
			<h2 class="text-2xl text-zinc-700 my-4">Lo Más Vendido 🔥</h2>
			<Vitrina client:load/>
		</section>

		<section class="p-4 max-w-screen-xl mx-auto">
			<!-- Anuncio de envio gratis -->
			<div class="p-10 text-left">
				<h2 class="text-2xl text-zinc-700 my-4"><b>Envio De Tus Productos</b></h2>
				<p class="text-zinc-500">En Atom Store, nos esforzamos por brindarte una experiencia de compra conveniente y sin complicaciones. Ofrecemos envíos rápidos y seguros a través de diferentes métodos para adaptarnos a tus necesidades. A continuación, te presentamos nuestras opciones de envío:.</p>
				<p class="text-zinc-500"><b>Envíos en Cali:</b> ¡Disfruta de envíos gratis en la ciudad de Cali! Realiza tu pedido y recíbelo en la comodidad de tu hogar sin costo adicional.</p>
				<p class="text-zinc-500"><b>Envíos a otros lugares de Colombia:</b> Para envíos a cualquier otra ciudad o región de Colombia, ofrecemos diferentes opciones de envío con tarifas competitivas. El costo de envío puede variar dependiendo de la zona. Por favor, consulta los precios de envío al momento de realizar tu pedido.</p>
				<p class="text-zinc-500"><b>Envíos internacionales:</b> Si estás interesado en envíos internacionales, por favor contáctanos para consultar la disponibilidad y los costos asociados. Estamos aquí para ayudarte a satisfacer tus necesidades de envío en todo el mundo.</p>
			</div>
		</section>
	</main>
</Layout>
