

<footer class="bg-white rounded-lg shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="w-3/5">
                <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="/logo-atom.svg" class="h-8" alt="Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
                </a>
                <div class="hidden md:block">
                    <h1 class="text-2xl">TIENDA ONLINE DE MODA Y ROPA PERSONALIZADAS</h1>
                    <p>Descubre en Atom Store las camisetas más trendy y exclusivas para jóvenes en Cali, Colombia. Explora nuestra colección de diseños únicos y personalizados que destacarán tu estilo. ¡Viste con actitud y originalidad! Envíos rápidos y seguros a tu puerta. ¡Haz una declaración de moda con Atom Store hoy!</p>
                </div>
            </div>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Nosotros</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="/" class="hover:underline">Atom Store™</a>. All Rights Reserved. Developer by <a href="/" class="hover:underline">SoyDuque.com</a></span>
    </div>
</footer>

