---
import Ticker from './Ticker.astro'
import MenuMobile from './MenuMobile.jsx'
---

<header class="shadow-sm fixed w-full bg-white top-0 z-50">
    <Ticker/>
    <nav
      class="max-w-screen-xl h-16 flex flex-row mx-auto px-5 justify-between items-center"
    >
      <div class="logo">
        <a href="/">
          <img
            src="/logo-atom.svg"
            width="80px"
            height="40px"
            alt="Logo de Atom"
          />
        </a>
        <!-- <span class="text-2xl font-bold text-zinc-800">ATOM</span> -->
      </div>

  
      <MenuMobile client:load/>
  
      <!-- Menu para escritorio -->
      <ul class="flex gap-6 mb-0 hidden md:flex h-full items-center">
        <li class="h-full">
          <a
            class="h-full items-center flex hover:text-zinc-600 hover:border-b-4 hover:border-zinc-600 hover: text-zinc-800"
            href="/">Inicio</a>
        </li>
        <li class="h-full">
          <a
            class="h-full items-center flex hover:text-zinc-600 hover:border-b-4 hover:border-zinc-600 hover: text-zinc-800"
            href="/about">Nosotros</a>
        </li>
        <li class="h-full">
          <a
            class="h-full items-center flex hover:text-zinc-600 hover:border-b-4 hover:border-zinc-600 hover: text-zinc-800"
            href="https://w.app/Ktl6X9" target="_blank">Catalogo</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <style>

    a{
        text-decoration: none;
    }

    ul li a {
      transition: 0.3s ease-in-out;
    }
  
    ul li a:hover {
      color: rgb(82 82 91);
    }

  </style>
  
 